{% extends "method.template.html" %}

{% block methodAnchor %}introduction{% endblock %}

{% block methodCopy %}
<h1>Introduction <a href="#introduction">#</a></h1>
  <p>Subscribie helps you collect and manage recurring payments easily.</p>
  <p>You can use use these docs to add subscription payments
  to your app or web application, saving you hundreds of hours of development.</p>
  <p>Subscribie has built-in many <a href="https://github.com/Subscribie/subscribie#features">features</a>
  for recurring payments, sign-up flow, sign-up links and administration such as managing refunds.</p>
  <p>Some of Subscribie is built on-top of Stripe, however, using Subscribie will save you time if
  you want to build all the background management features, we've written that for you.</p>
{% endblock methodCopy %}

{% block methodExample %}
  <code class= "code">
  This is a test
  <button class= "copy" onclick="copyTextFromElement('.code')">Copy</button>
  </code>
{% endblock methodExample %}

